.about-container{
    height:2rem;

    line-height: 1.2;
   
   
}
.about-intro{

}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fl {
    float: left;
    _display: inline;
}

.w-50 {
    width: 50%;
}

